@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* 通用設定 */
* {box-sizing: border-box;}

body, h1, h2, h3, h4, h5, p {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

ul {
    margin: 0; padding: 0;
    list-style: none;
}

body {
    background-color: white;
    font-family: 'Noto+Sans', sans-serif;
}

.wrap-nav {
    width: 100%;
    background-color: black;
    margin: 0 auto;
}

.wrap-content {
    width: 1280px;
    background-color: white;
    margin: 0 auto;
}

.wrap-header {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
    position: sticky;
    top: 0px;
    backdrop-filter: blur(18px);
}

.wrap-footer {
    width: 100%;
    background-color: #F2F2F2;
    margin: 0 auto;
}

/* Navigation Bar 導覽列設定 */
.nav-bar {
    display: flex;
    padding: 0 50px;
}

.nav-bar p, a {
    color: white;
    line-height: 40px;
    margin: 0 auto 0 0;
}

.nav-bar a:hover {
    color: #FBD914;
}

nav ul {
    margin: 0 auto;
    display: flex;
    gap: 16px;
}

nav a {
    display: flex;
    gap: 5px;
    align-items: center;
    color: white;
    line-height: 40px;
}

nav svg {
    width: 14px; height: 14px;
    fill: white;
}

nav a:hover {
    color: #FBD914;
}

nav a:hover svg {
    fill: #FBD914;
}



/* Header 頁首設定 */
.main-header {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 20px 40px;    
}

.main-header .logo {
    background-image: url(image/IKEA_logo.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.main-header .logo a {
    text-indent: -9999px;
    display: block;
    overflow: hidden;
    width: 90px; height: 37px;
    margin-right: 10px;
}

.main-header button {
    text-indent: -9999px;
    display: block;
    overflow: hidden;
    border: none;
    border-radius: 40px;
    width: 20px; height: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}

input {
    font-size: 16px;
    line-height: 55px;
    border: none;
    border-radius: 30px;
    padding-left: 50px;
    background-color: #F2F2F2;
    background-image: url(image/search.svg);
    background-repeat: no-repeat;
    background-position: 20px center;
    width: 100%;
}

input:hover {
    background-color: #cacaca;
}

.main-header button:hover {
    background-color: #dadada;
}

.main-header .menu {
    background-image: url(image/menu.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.main-header .user {
    background-image: url(image/user.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.main-header .cart {
    background-image: url(image/shopping-cart.svg);
    background-repeat: no-repeat;
    background-position: center;
}

/* Main 主視覺設定 */
main {
    background-image: url(image/Banner01.jpg);
    background-size: cover;
    width: 100%;
    height: 480px;
    padding-top: 160px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-color: white;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

main h1 {
    color: white;
    font-size: 80px;
    font-weight: 900;
    text-shadow:0 0 5px rgba(0, 0, 0, 0.3);
}

main h3 {
    color: white;
    font-size: 30px;
    font-weight: normal;
    text-shadow:0 0 5px rgba(0, 0, 0, 0.3);
}

/* Hero Section 設定 */

.hero01 {
    width: 1280px; height: 396px;
    padding: 0 40px;
    margin-bottom: 30px;
    border-radius: 30px;
    background-image: url(image/Hero\ Image01.jpg);
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
    background-position: right;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
}

.hero02 {
    width: 1280px; height: 396px;
    padding: 0 40px;
    margin-bottom: 30px;
    border-radius: 30px;
    background-image: url(image/Hero\ Image02.jpg);
    background-repeat: no-repeat;
    background-color: white;
    background-position: right;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
}

.hero03 {
    width: 1280px; height: 396px;
    padding: 0 40px;
    margin-bottom: 30px;
    border-radius: 30px;
    background-image: url(image/Hero\ Image03.jpg);
    background-repeat: no-repeat;
    background-color: white;
    background-position: right;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
}

.hero-content {
    width: 40%;
    padding: 40px 0 0 0;
    
}

.hero-content h1 {
    font-size: 50px;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 16px;
}

.hero-content p {
    color: hsl(0, 0%, 30%);
    font-size: 20px;
    font-weight: normal;
    line-height: 150%;
    margin-bottom: 30px;
}

.hero-content button {
    display: block;
    border-color: #ffffff00;
    border-radius: 40px;
    width: auto; height: 40px;
    background-color: black;
    cursor: pointer;
}

.hero-content a {
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    color: white;
    padding: 20px 24px;
}

.hero-content .cta01:hover {
    background-color: #DC6037;
}

.hero-content .cta02:hover {
    background-color: #0058AB;
}

.hero-content .cta03:hover {
    background-color: #538285;
}

/* Card 小卡設定 */
.card-list {
    width: 1280px;
    display: flex;
    gap: 40px;
    padding: 0 60px;
    margin-bottom: 40px;
}

.card {
    width: 200px;
    background-color: white;
    cursor: pointer;
}

.card-content {
    padding: 0 5px;
}

.card-title {
    margin-bottom: 5px;
    font-size: 20px;
}

.card-intro {
    color: hsl(0, 0%, 30%);
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 22px;
}

.card-price {
    font-size: 30px;
    display: flex;
}

.card-price p {
    font-size: 10px;
}

/* Footer 頁尾設定 */
footer {
    padding: 70px 40px;
}

footer section {
    display: inline-block;
    vertical-align: top;
    margin-right: 240px;
}

.footer-title {
    font-size: 20px;
    margin-bottom: 30px;
}

.footer-intro {
    font-size: 16px;
    color: #4D4D4D;
    margin-bottom: 30px;
    line-height: 140%;
}

footer a {
    color: #4D4D4D
}

footer a:hover {
    color: #0058AB;
}

footer ul {
    line-height: 180%;
}

footer button {
    display: block;
    border: none;
    border-radius: 40px;
    width: auto; height: 40px;
    background-color: black;
    cursor: pointer;
    margin-bottom: 108px;
}

footer button:hover {
    background-color: #0058AB;
}

footer button a {
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 20px 24px;
}

footer button a:hover {
    color: aliceblue;
}

.footer-list01 {
    width: 338px;
}

.footer-list05 {
    margin: 0;
}

.footer-copyright {
    width: 100%;
    display: flex;
    padding: 0 10px;
}

.footer-copyright p {
    font-size: 12px;
    color: #4D4D4D;
    line-height: 40px;
}

.footer-copyright p {
    margin-right: auto;
}

.footer-copyright a {

    font-size: 12px;
    color: #4D4D4D;
    line-height: 40px;
    margin: 0 5px;
}

